/* line 1, ../compass/sass/header.scss */
#right-tabs {
  float: right;
  width: 50px;
}

/* line 6, ../compass/sass/header.scss */
#logoimage {
  height: 80px;
  width: 95px;
  display: block;
  float: left;
}
/* line 11, ../compass/sass/header.scss */
#logoimage img {
  width: 100%;
}

/* line 16, ../compass/sass/header.scss */
.img {
  height: 40px;
  width: 40px;
}

/* line 21, ../compass/sass/header.scss */
#tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 27, ../compass/sass/header.scss */
#nav-bar {
  float: right;
  width: 100%;
}

/* line 32, ../compass/sass/header.scss */
.container {
  margin-right: 0;
}

/* line 36, ../compass/sass/header.scss */
body {
  max-width: 1080px;
  margin: auto;
}

/* line 41, ../compass/sass/header.scss */
.navbar-default {
  background-color: white;
  border-color: black;
  max-width: 30%;
  float: right;
}

/* line 48, ../compass/sass/header.scss */
#main-logo {
  text-align: center;
}

/* line 52, ../compass/sass/header.scss */
#logo {
  margin-right: auto;
  margin-left: auto;
}

/* line 57, ../compass/sass/header.scss */
#caps-logo-main {
  width: 50%;
  padding-top: 10%;
}

/* line 63, ../compass/sass/header.scss */
#navbar {
  margin-right: 0;
}
