/* line 1, ../compass/sass/header.scss */
#right-tabs {
  float: right;
  margin: -20% 2%;
}

/* line 6, ../compass/sass/header.scss */
#logoimage {
  height: 80px;
  width: 95px;
  display: block;
  float: left;
}
/* line 11, ../compass/sass/header.scss */
#logoimage img {
  width: 100%;
  margin: 25px;
}

/* line 17, ../compass/sass/header.scss */
.img {
  height: 40px;
  width: 40px;
}

/* line 22, ../compass/sass/header.scss */
#tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 28, ../compass/sass/header.scss */
#nav-bar {
  float: right;
  width: 100%;
}

/* line 33, ../compass/sass/header.scss */
.container {
  margin-right: 0;
}

/* line 37, ../compass/sass/header.scss */
body {
  max-width: 100%;
  margin: auto;
}

/* line 42, ../compass/sass/header.scss */
.navbar-default {
  background-color: white;
  border-color: black;
  max-width: 30%;
  float: right;
  margin: 25px;
}

/* line 50, ../compass/sass/header.scss */
#main-logo {
  text-align: center;
}

/* line 54, ../compass/sass/header.scss */
#logo {
  margin-right: auto;
  margin-left: auto;
}

/* line 59, ../compass/sass/header.scss */
#caps-logo-main {
  width: 50%;
  padding-top: 10%;
}

/* line 65, ../compass/sass/header.scss */
#navbar {
  margin-right: 0;
}

/* line 69, ../compass/sass/header.scss */
.tab-images {
  margin-top: 10px;
  border-radius: 3px;
}
